<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gxdccps-sitescreations-fnc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b6b0dae3-7f87-4fd7-bad9-90bbc5f91478/resourcegroups/GxDcCPS-SCW-rg/providers/Microsoft.Web/sites/GxDcCPS-SitesCreations-fnc</ResourceId>
    <UserName>$GxDcCPS-SitesCreations-fnc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://gxdccps-sitescreations-fnc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>